{% extends "../base.html" %} 
{% load static %} 
{% block title %}Basket Summary{% endblock %} 
{% block content %}

<div class="container">
  <h4>Sub total: $<span id="subtotal">{{ basket.get_total_price}}</span></h4>
<h2>{{basket.basket_item}}</h2>
  {% for item in basket %} 
  {% with product=item.product%}

  <div class="row border my-3 product_item" data-index="{{product.id}}">
    <div class="col-md-4">
      <div class="product_img">
        <img src="{{product.image.url}}" alt="product image" class="img-fluid"/>
      </div>
    </div>
    <div class="col-md-8">
      <div class="product_info">
        <div class="top d-flex justify-content-between">
          <h4>{{product.title}}</h4>
          <h4>$: {{item.total_price}}</h4>
        </div>
        <div class="bottom">
          <label for="">Quantity</label>
          <select id="select{{product.id}}">
            <option selected>{{item.qty}}</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="4">5</option>
          </select>
          <button type="button" id="update_btn" data-index="{{product.id}}" class="btn btn-outline-success update_btn">Update</button>
          <button type="button" id="delete_btn" data-index="{{product.id}}" class="btn btn-outline-danger delete_btn">Delete</button>
          <div class="col-md-5 col-lg-4 order-md-last p-0 order-3">
            <div class="d-grid gap-2 ">
              <a role="button" href="{% url "payment:paymentView" %}" class="btn btn-success fw-bold" type="button">Checkout</a>
              <button class="btn btn-light" type="button">Save for later</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endwith %} 
  {% endfor %}
</div>
<script>

  // delete item
  $(document).on('click', '.delete_btn', function(e){
      // e.preventDefault();
      console.log('deleted');
      var prod_id =  $(this).data('index');
      console.log(prod_id);
      $.ajax({
          type:'POST',
          url:'{% url "basket:basket_delete" %}',
          data: {
              productid: $(this).data('index'),
              csrfmiddlewaretoken: '{{csrf_token}}',
              action: 'post'
          },
          success: function (json){
            $('.product_item[data-index="'+ prod_id +'"]').remove();
          document.getElementById('basket_qty').innerHTML = json.qty
          document.getElementById('subtotal').innerHTML = json.subtotal
          },
          error: function(xhr, errmsg, err){}      
      })
  });

// update item
$(document).on('click', '.update_btn', function(e){
    e.preventDefault();
    console.log('updated');
    var prod_id =  $(this).data('index');
    console.log(prod_id);
    $.ajax({
        type:'POST',
        url:'{% url "basket:basket_update" %}',
        data: {
            productid: $(this).data('index'),
            productqty: $('#select' + prod_id + ' option:selected').text(),
            csrfmiddlewaretoken: '{{csrf_token}}',
            action: 'post'
        },
        success: function (json){
          // $('.product_item[data-index="'+ prod_id +'"]').remove();

          document.getElementById('basket_qty').innerHTML = json.qty
          document.getElementById('subtotal').innerHTML = json.subtotal
        },
        error: function(xhr, errmsg, err){}      
    })
});
</script>

{% endblock %}