{% extends "./base.html" %}
{% load static %}
{% block title %}{{product.title}}{% endblock %}
{% block content %}

<div class="container">
    <div class="prod_items">
        <div class="row">
            <!-- {{ product.title }} -->
            <div class="card col-md-3 m-2 " style="width: 18rem;">
                <!-- <a href=""> -->
                    <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ product.title }}</h5>
                      <p class="card-text">{{ product.description}}</p>
                      <label for="quantity">Quantity:</label>
                        <select id="select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="4">5</option>
                        </select>
                      <p class="card-text">{{ product.price}}</p>
                      <button id="add_button" value="{{product.id}}" class="btn btn-outline-success">Add to basket</button>
                    </div>
                <!-- </a> -->
            </div>

        </div>

    </div>
   
</div>

<script>
    $(document).on('click', '#add_button', function(e){
        e.preventDefault();
        // console.log($('#select option:selected').text())
        console.log('added')
        $.ajax({
            type:'POST',
            url:'{% url "basket:basket_add" %}',
            data: {
                productid: $('#add_button').val(),
                productqty: $('#select option:selected').text(),
                csrfmiddlewaretoken: '{{csrf_token}}',
                action: 'post'
            },
            success: function (json){
                console.log(json);
                document.getElementById('basket_qty').innerHTML = json.qty;
            },
            error: function(xhr, errmsg, err){}
        
        })
    });
</script>

{% endblock %}